footer
    padding: 30px 0
    margin-bottom: 20px

    ul
        list-style: circle

        li

            a
                color: #333

                &:hover,
                &:active
                    color: $blue