footer
    border-top: 1px solid $border-color
    padding: 20px 0
    margin-top: 50px
    margin-bottom: 20px

    ul
        list-style: circle

        li

            a
                color: #333

                &:hover,
                &:active
                    color: $blue