.contact
    background: #E9EDF0
    padding-top: 70px
    padding-bottom: 70px
    border-top: 1px solid darken(#E2E5E5, 20)

    h3
        font-size: $size-3
        margin-bottom: 20px

    .textarea
        height: 200px

    .contact-social
        padding-top: 40px
        
        p
            margin-bottom: 70px
            text-align: justify

        span.icon
            i
                font-size: $size-3

+tablet-only
    .contact
        form
            padding: 20px

        .contact-social
            padding-right: 30px

+mobile
    .contact
        form
            padding: 20px