nav.nav
    background: #242A27

    a.logo img
        max-height: 2rem

    .nav-item
        color: #fff

        &:hover
            color: darken(#fff, 10)
            background-color: lighten(#242A27, 10)

+mobile
    .nav-menu
        background: #242A27

        .nav-item
            border-top: 0
