// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato')

// Variables
@import variables

// Bootstrap
@import node_modules/bulma/bulma.sass

body
    background: #fff
    padding: 0
    margin: 0
    font-family: "Lato", sans-serif
    font-size: 16px

a
    color: $blue

@import components/colors
@import components/header
@import components/slider
@import components/counters
@import components/whatis
@import components/features
@import components/gallery
@import components/footer